Programming/WebDev/Website/pugs/index.pug
doctype html
html(lang="en")
    head
        include includes/head.pug

    body
        header
            include includes/header.pug
        nav
            #hamburger.hamburger(onclick="hamburgerNav()")
                #h-bar1.hamburger-bar
                #h-bar2.hamburger-bar
                #h-bar3.hamburger-bar

            .top-navbar
                ul#nav-list.nav-list
                    li.nav-active
                        div
                        a(href="#") home
                    li
                        div
                        a(href="#") projects
                    li
                        div
                        a(href="#") tutorials
                    li
                        div
                        a(href="#") gallery
                    li
                        div
                        a(href="#") about
                    li
                        div
                        a(href="#") contact

        .page
            aside.left
                .left-aside-card
                    p left aside
            main
                h1.page-title Page title
                article
                    h1.article-title Article title
                    section
                        h1.section-title Section title
                        figure.half-width.left-aligned
                            img(src="Assets/img/placeholders/placeholder-3-2.png" alt="placeholder")
                            figcaption
                                a(href="#") Figure 1
                                br
                                | &copy; 2019
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium culpa ipsa libero, magnam molestiae mollitia perferendis quas reiciendis similique tenetur. Alias asperiores cumque deserunt enim, est porro rem sint tempora!
                article
                    h1.article-title Article title
                    section
                        h1.section-title Section title
                        h1.section-subtitle Section subtitle
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id labore repellat tempore! Consequuntur ex illum maiores nobis nulla odio recusandae, sint suscipit! Deserunt error hic nesciunt, non perferendis quam similique?
                    section
                        h1.section-title Section title
                        h1.section-subtitle Section subtitle
                article
                    h1.article-title Article title
                    section
                        h1.section-title Section title
                    section
                        h1.section-title Section title
                article
                    h1.article-title Article title
                    section
                        h1.section-title Section title
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id illo minus odio voluptatum. Doloribus eum excepturi ipsa ipsam non provident quisquam. Ab, animi dolore ducimus laboriosam omnis perspiciatis possimus sit!
                        .gist-container
                            script(src="https://gist.github.com/pcassima/05c4a7dfdb3a5a22977c7201aa58ae2e.js")
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aperiam corporis deserunt, dolore eveniet illum minima, perspiciatis porro quaerat qui quod ratione, sapiente sed sequi temporibus tenetur voluptatibus voluptatum.
                article
                    section
                        h1 heading 1
                        p text
                        h2 heading 2
                        p text
                        h3 heading 3
                        p text
                        h4 heading 4
                        p text
                        h5 heading 5
                        p text
                        h6 heading 6
                        p text
                .bottom-nav
                    .bottom-nav-left
                        .back
                            a(href="#") &#171; back
                    .bottom-nav-right
                        .next
                            a(href="#") next &#187;

            aside.right
                .right-aside-card
                    p card
                .right-aside-card
                    p card
                .right-aside-card
                    p card
                .right-aside-card
                    p card
        footer
            include includes/footer.pug

Programming/WebDev/Website/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Some tags for page management-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Pieter-Jan Cassiman">
    <meta name="description" content="My corner of the internet">
    <title>My personal page</title>
    <!-- Link to stylesheets and fonts-->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!--Javascript-->
    <script src="./js/nav.js"></script>
    <script src="./js/modal.js"></script>
  </head>
  <body>
    <header></header>
    <nav>
      <div class="hamburger" id="hamburger" onclick="hamburgerNav()">
        <div class="hamburger-bar" id="h-bar1"></div>
        <div class="hamburger-bar" id="h-bar2"></div>
        <div class="hamburger-bar" id="h-bar3"></div>
      </div>
      <div class="top-navbar">
        <ul class="nav-list" id="nav-list">
          <li class="nav-active">
            <div></div><a href="#">home</a>
          </li>
          <li>
            <div></div><a href="#">projects</a>
          </li>
          <li>
            <div></div><a href="#">tutorials</a>
          </li>
          <li>
            <div></div><a href="#">gallery</a>
          </li>
          <li>
            <div></div><a href="#">about</a>
          </li>
          <li>
            <div></div><a href="#">contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="page">
      <aside class="left">
        <div class="left-aside-card">
          <p>left aside</p>
        </div>
      </aside>
      <main>
        <h1 class="page-title">Page title</h1>
        <article>
          <h1 class="article-title">Article title</h1>
          <section>
            <h1 class="section-title">Section title</h1>
            <figure class="half-width left-aligned"><img src="Assets/img/placeholders/placeholder-3-2.png" alt="placeholder">
              <figcaption><a href="#">Figure 1</a><br>&copy; 2019</figcaption>
            </figure>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium culpa ipsa libero, magnam molestiae mollitia perferendis quas reiciendis similique tenetur. Alias asperiores cumque deserunt enim, est porro rem sint tempora!</p>
          </section>
        </article>
        <article>
          <h1 class="article-title">Article title</h1>
          <section>
            <h1 class="section-title">Section title</h1>
            <h1 class="section-subtitle">Section subtitle</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id labore repellat tempore! Consequuntur ex illum maiores nobis nulla odio recusandae, sint suscipit! Deserunt error hic nesciunt, non perferendis quam similique?</p>
          </section>
          <section>
            <h1 class="section-title">Section title</h1>
            <h1 class="section-subtitle">Section subtitle</h1>
          </section>
        </article>
        <article>
          <h1 class="article-title">Article title</h1>
          <section>
            <h1 class="section-title">Section title</h1>
          </section>
          <section>
            <h1 class="section-title">Section title</h1>
          </section>
        </article>
        <article>
          <h1 class="article-title">Article title</h1>
          <section>
            <h1 class="section-title">Section title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id illo minus odio voluptatum. Doloribus eum excepturi ipsa ipsam non provident quisquam. Ab, animi dolore ducimus laboriosam omnis perspiciatis possimus sit!</p>
            <div class="gist-container">
              <script src="https://gist.github.com/pcassima/05c4a7dfdb3a5a22977c7201aa58ae2e.js"></script>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aperiam corporis deserunt, dolore eveniet illum minima, perspiciatis porro quaerat qui quod ratione, sapiente sed sequi temporibus tenetur voluptatibus voluptatum.</p>
          </section>
        </article>
        <article>
          <section>
            <h1>heading 1</h1>
            <p>text</p>
            <h2>heading 2</h2>
            <p>text</p>
            <h3>heading 3</h3>
            <p>text</p>
            <h4>heading 4</h4>
            <p>text</p>
            <h5>heading 5</h5>
            <p>text</p>
            <h6>heading 6</h6>
            <p>text</p>
          </section>
        </article>
        <div class="bottom-nav">
          <div class="bottom-nav-left">
            <div class="back"><a href="#">&#171; back</a></div>
          </div>
          <div class="bottom-nav-right">
            <div class="next"><a href="#">next &#187;</a></div>
          </div>
        </div>
      </main>
      <aside class="right">
        <div class="right-aside-card">
          <p>card</p>
        </div>
        <div class="right-aside-card">
          <p>card</p>
        </div>
        <div class="right-aside-card">
          <p>card</p>
        </div>
        <div class="right-aside-card">
          <p>card</p>
        </div>
      </aside>
    </div>
    <footer>
      <div class="footer-left">
        <p>&copy; 2019, Pieter-Jan Cassiman</p>
        <div class="social-bar-container">
          <ul class="social-bar">
            <li><a class="fab fa-youtube fa-2x" href="https://www.youtube.com/channel/UCag4kR1A4hj4j2MgZwDUQLg" target="_blank"></a></li>
            <li><a class="fab fa-instagram fa-2x" href="https://www.instagram.com/pieterjancassiman/" target="_blank"></a></li>
            <li><a class="fab fa-github fa-2x" href="https://github.com/pcassima" target="_blank"></a></li>
            <li><a class="fab fa-blogger fa-2x" href="https://transistories.blogspot.com/" target="_blank"></a></li>
            <li><a class="fab fa-twitter fa-2x" href="https://twitter.com/PieterJanCassim"></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-right">
        <form class="badge" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="HUKNCQV28VZV6">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button">
        </form><a class="badge" href="https://www.tindie.com/stores/fenixcomputers/?ref=offsite_badges&amp;utm_source=sellers_fenixcomputers&amp;utm_medium=badges&amp;utm_campaign=badge_medium" target="_blank"><img src="https://d2ss6ovg47m0r5.cloudfront.net/badges/tindie-mediums.png" alt="I sell on Tindie" width="150" height="78"></a>
      </div>
    </footer>
  </body>
</html>
